.board-name {
  outline: none;
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid transparent;
  transition: border .3s ease;
  &:focus {
    border-color: $border-color;
    border-radius: 5px;
  }
}

.modal {
  display: block;
  opacity: 0;
  visibility: hidden;
  background: rgba(0,0,0, .5);
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.single-board {
  position: relative;
  overflow: auto;
  height: 100%;
}

.board-lists {
  overflow-y: scroll !important;
  height: 100vh;

  .list-card {
    .card-body {
      padding: 0;

      .card-name {
        margin-bottom: 0;
        padding: 15px;
        border-bottom: 1px solid $border-color;
      }
    }
    .card-footer {
      position: relative;
      padding: 10px 15px;
      font-size: 14px;
      transition: all .3s ease;
      border-top: 0;
      // &:hover {
      //   background: $border-color;
      // }
      .createcard {
        &:hover {
          text-decoration: underline;
        }
      }

      .close {
        position: absolute;
        right: 20px;
        top: 17px;
      }
    }
  }
}

.form-control {
  &.small {
    padding: 5px 15px;
  }
}

.card-item-wrapper {
  padding: 10px 10px 0;
  .card-name {
    font-weight: normal;
    border-bottom: 0;
  }
}

.auth-page-wrapper {
  background: url('./img/auth-bg.jpeg') center center no-repeat;
  background-size: cover;
}

.content-wrapper {
  min-height: calc(100vh - 65px) !important;
}
