.board-name {
  outline: none;
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid transparent;
  transition: border .3s ease;
  &:focus {
    border-color: $border-color;
    border-radius: 5px;
  }
}

.single-board {
  position: relative;
  overflow: auto;
  height: 100%;
}

.board-lists {
  overflow-y: scroll !important;
  height: 100vh;

  .list-card {
    .card-body {
      padding: 15px;
      .card-name {
        margin-bottom: 0;
      }
    }
    .card-footer {
      padding: 10px 15px;
      font-size: 14px;
      transition: all .3s ease;
      &:hover {
        background: $border-color;
      }
    }
  }
}
