.form-control {
  &.small {
    padding: 5px 15px;
  }
}


.auth-page-wrapper {
  background: url("./img/auth-bg.jpeg") center center no-repeat;
  background-size: cover;
}

.content-wrapper {
  padding-top: 85px;
  min-height: calc(100vh - 60px);
}

.btn-icon {
  display: flex;
  justify-content: center;
}


.single-board-wrapper {
  background-size: cover !important;
  .content-wrapper {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;

  }

  .main-panel {
    background: transparent;
  }
}

.horizontal-menu.transparent .top-navbar {border-bottom: 0; background: rgba($white, .2);}

.top-navbar {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

}

.background-white {background: rgba($white, .3)};
.transparent-white-btn {
  background: rgba($white, .4);
  border-radius: 4px;
  padding: 6px 10px;
  color: $white;
  cursor: pointer;
  transition: background .2s ease;

  &:hover {
    background: rgba($white, .5);
  }
}

.organizer {
  position: relative;
  .avatar {
    position: relative;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-left: 20px;;
    border-radius: 50%;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 1px;
      width: 10px;
      height: 10px;
      background: map-get($theme-colors, success);
      border-radius: 50%;
    }

  }
}
