.form-control {
  &.small {
    padding: 5px 15px;
  }
}


.auth-page-wrapper {
  background: url("./img/auth-bg.jpeg") center center no-repeat;
  background-size: cover;
}

.content-wrapper {
  padding-top: 85px;
  min-height: calc(100vh - 60px);
}


.single-board-wrapper {
  background-size: cover !important;
  .content-wrapper {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;

  }

  .main-panel {
    background: transparent;
  }
}

.horizontal-menu.transparent .top-navbar {border-bottom: 0; background: transparent;}

.top-navbar {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

}

.background-white {background: rgba($white, .3)};
.transparent-white-btn {
  background: rgba($white, .4);
  border-radius: 4px;
  padding: 6px 10px;
  color: $white;
  cursor: pointer;
  transition: background .2s ease;

  &:hover {
    background: rgba($white, .5);
  }
}
