.form-control {
  &.small {
    padding: 5px 15px;
  }
}


.auth-page-wrapper {
  background: url("./img/auth-bg.jpeg") center center no-repeat;
  background-size: cover;
}

.content-wrapper {
  min-height: 100vh !important;
  padding-top: 85px;
}


.single-board-wrapper {
  background-size: cover !important;

  .main-panel {
    background: transparent;
  }
}

.horizontal-menu.transparent .top-navbar {border-bottom: 0; background: transparent;}

.background-white {background: rgba($white, .3)};
.transparent-white-btn {
  background: rgba($white, .24);
  border-radius: 4px;
  padding: 6px 10px;
  color: $white;
  cursor: pointer;
  transition: background .2s ease;

  &:hover {
    background: rgba($white, .34);
  }
}
