.board-name {
  outline: none;
  display: inline-block;
  padding: 6px 10px;
  border: 2px solid transparent;
  transition: border .3s ease;
  color: $white;
  border-radius: 4px;
  background: transparent;
  transition: all .1s ease;
  margin: 0;

  &:hover,
  &:focus {
    @extend .background-white;
  }

  &:focus {
    border-color: rgba($white, 0.5);
    border-radius: 5px;
  }
}

.single-board {
  position: relative;
  overflow: auto;
  height: calc(100vh - 130px);
}

.board-lists {
  overflow-y: scroll !important;
  min-height: 300px;

  .list-card {
    .card-body {
      background: #ebecf0;
      padding: 0;
      border-radius: 4px;

      .card-name {
        margin-bottom: 0;
        padding: 15px;
      }
    }

    .card-footer {
      position: relative;
      padding: 10px 10px;
      font-size: 14px;
      transition: all .3s ease;
      border-top: 0;
      border-top: 0;
      background: #ebecf0;

      .form-footer {
        position: relative;
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          margin-right: 10px;
        }
      }

      .createcard {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      .close {
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}

.card-item-wrapper {
  padding: 3px 10px 2px;
  border-radius: 6px;

  .item-card {
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    border: 0;
    border-radius: 6px;

    .card-body {
      background: $white;
      border-radius: 6px;
    }
  }

  .card-name {
    font-weight: normal;
    border-bottom: 0;
  }
}
